<mat-nav-list>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card style="display: flex">
      <p *ngIf="!location">Select a location</p>
      <p *ngIf="location">Longitude: {{ location[0] }}</p>
      <p *ngIf="location" style="margin-left: 10px">
        Latitude: {{ location[1] }}
      </p>
    </mat-card>

    <section>
      <div class="areaRadius">
        <span>Area radius *</span>
        <div>
          <label>{{ sliderValue_ }}</label>
          <span>m</span>
        </div>
      </div>
      <mat-slider
        color="primary"
        max="400"
        min="0"
        step="1"
        [(ngModel)]="sliderValue_"
        name="slider-value"
        aria-labelledby="example-name-label">
      </mat-slider>
    </section>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-icon matPrefix>category</mat-icon>
      <mat-select ngModel required name="category">
        <mat-option [value]="category.id" *ngFor="let category of categories">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Severity</mat-label>
      <mat-icon matPrefix>warning</mat-icon>
      <mat-select ngModel required name="severity">
        <mat-option [value]="severity.id" *ngFor="let severity of severities">
          {{ severity.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <mat-icon matPrefix>date_range</mat-icon>
      <input
        ngModel
        required
        matInput
        placeholder="Enter duration in days"
        name="duration" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix>comment</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input ngModel required matInput name="description" />
    </mat-form-field>

    <section class="button">
      <button type="submit" mat-raised-button color="primary">Add event</button>
    </section>
  </form>
</mat-nav-list>
