.fab-container {
  position: fixed;
  bottom: 32px;
  right: 16px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 8px;

    button {
      margin-bottom: 16px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}
