<div>
  <mat-nav-list>
    <section>
      <div class="logo-nav">
        <img src="../../../../../assets/images/Watchout_logo.svg" />
        <h1>Watchout</h1>
      </div>
    </section>
    <section>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span>
      </a>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <mat-icon mat-list-icon>warning</mat-icon>
        <span mat-line>My alerts</span>
      </a>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <mat-icon mat-list-icon>people</mat-icon>
        <span mat-line>Social</span>
      </a>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <mat-icon mat-list-icon>person</mat-icon>
        <span mat-line>Profile</span>
      </a>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span mat-line>Settings</span>
      </a>
    </section>
    <section>
      <div mat-subheader>Information</div>
      <mat-divider></mat-divider>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <span>Get help</span>
      </a>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <span>Send feedback</span>
      </a>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <span>Terms and Conditions</span>
      </a>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <span>Privacy policies</span>
      </a>
    </section>
    <section>
      <mat-divider></mat-divider>
      <a mat-list-item class="rounded-mat-list-item mat-ripple">
        <i mat-list-icon class="material-icons-round">exit_to_app</i>
        <button mat-flat-button (click)="logout()" mat-line>Logout</button>
      </a>
    </section>
  </mat-nav-list>
</div>
