$dark-text: #17283a;

.logo-nav {
  display: flex;
  align-items: center;

  img {
    width: 60px;
    height: 100%;
    margin-right: 0.5rem;
  }

  h1 {
    font-weight: 700;
    margin: 0;
    color: $dark-text;
  }
}

button {
  text-align: start;
}

.rounded-mat-list-item {
  color: $dark-text;
  
  &:hover, :active {
    border-radius: 8px;
  }
}

.mat-ripple {
  border-radius: 8px;
}
