<div class="forms">
  <section class="form-header">
    <h3 mat-subheader *ngIf="eventType === 'location_on'">Navigation</h3>
    <h3 mat-subheader *ngIf="eventType === 'moving'">Event on route</h3>
    <h3 mat-subheader *ngIf="eventType === 'motion_photos_on'">
      Event on circular area
    </h3>
    <h3 mat-subheader *ngIf="eventType === 'map'">Event on polygon area</h3>
    <mat-icon matSuffix (click)="onCloseMenu()">clear</mat-icon>
  </section>
  <section>
    <app-navigation
      *ngIf="eventType === 'location_on'"
      [categories]="categories"
      [severities]="severities"></app-navigation>
    <app-event-route
      *ngIf="eventType === 'moving'"
      [categories]="categories"
      [severities]="severities"></app-event-route>
    <app-event-circle
      *ngIf="eventType === 'motion_photos_on'"
      [categories]="categories"
      [severities]="severities"></app-event-circle>
    <app-event-polygon
      *ngIf="eventType === 'map'"
      [categories]="categories"
      [severities]="severities"></app-event-polygon>
  </section>
</div>
