.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.login-google,
.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 10px;
  align-items: center;
}

.login-google {
  button {
    border: 1px solid #17283a;
  }
  
  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.login-footer {
  div {
    text-align: start;
    position: relative;
    left: 15px;
    margin: 2px;
  }
  div:first-child {
    margin-bottom: 16px;
  }
  input {
    margin: 0 4px 0 0;
  }
}

.width {
  width: 80%;
}

.spinner {
  margin: 0 auto;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}