<div class="body">
  <div class="login">
    <div class="login-header">
      <mat-spinner *ngIf="loading" class="spinner" diamater="50"></mat-spinner>
      <img
        src="../../../../../assets/images/Watchout_logo.svg"
        alt="logo"
        width="40%"
        height="80%" />
      <h1>Sign In</h1>
    </div>
    <div class="login-google">
      <button
        (click)="onLoginGoogle()"
        class="width"
        mat-flat-button
        color="white">
        <img
          src="https://gitlab.com/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png" />
        <span>Continue with Goggle</span>
      </button>
      <span>or</span>
    </div>
    <form
      class="login-form"
      *ngIf="!loading"
      [formGroup]="form"
      (ngSubmit)="signIn()">
      <mat-form-field appearance="fill" class="width">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="width">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.errors?.['required']"
          >This field is mandatory</mat-error
        >
        <mat-error *ngIf="password?.errors?.['minLength']"
          >Not a valid password</mat-error
        >
      </mat-form-field>

      <button
        type="submit"
        class="width"
        mat-raised-button
        mat-button
        color="primary"
        [disabled]="form.invalid">
        Sign In
      </button>
    </form>
    <div class="login-footer">
      <div class="otherServices">
        <div>
          <span>No account? <a [routerLink]="['/sign-up']">Sign up</a></span>
        </div>
        <div>
          <span><input type="checkbox" />Remember me</span>
        </div>
        <div>
          <span
            ><a [routerLink]="['/password-recovery']"
              >Forgot your password?</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
