mat-nav-list > form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}

section.button {
    display: flex;
    justify-content: center;
}

section.button > button {
    width: 120px;
}

.mat-card{
    margin-bottom: 20px;
}