<mat-nav-list>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-card style="display: flex">
      <mat-icon matPrefix>location_on</mat-icon>
      <p *ngIf="!location">Select a location</p>
      <p *ngIf="location">Longitude: {{ location[0] }}</p>
      <p *ngIf="location" style="margin-left: 10px">
        Latitude: {{ location[1] }}
      </p>
    </mat-card>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-icon matPrefix>category</mat-icon>
      <mat-select required formControlName="category">
        <mat-option [value]="category.id" *ngFor="let category of categories">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Severity</mat-label>
      <mat-icon matPrefix>warning</mat-icon>
      <mat-select required formControlName="severity">
        <mat-option [value]="severity.id" *ngFor="let severity of severities">
          {{ severity.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <mat-icon matPrefix>date_range</mat-icon>
      <input
        matInput
        placeholder="Enter duration in days"
        required
        formControlName="duration" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix>comment</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput matInput required formControlName="description" />
    </mat-form-field>

    <section class="button">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!signupForm.valid">
        Add event
      </button>
    </section>
  </form>
</mat-nav-list>
