<mat-nav-list>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-card
      style="display: flex"
      [ngClass]="{ 'active-way-point': modeInput === 'start' }"
      (click)="changeMode('start')">
      <mat-icon matPrefix>location_on</mat-icon>
      <p *ngIf="!wayPoints.start">Select starting location</p>
      <p *ngIf="wayPoints.start">
        Longitude: {{ +wayPoints.start.lng.toFixed(4) }}
      </p>
      <p *ngIf="wayPoints.start" style="margin-left: 10px">
        Latitude: {{ +wayPoints.start.lat.toFixed(4) }}
      </p>
    </mat-card>

    <mat-card
      style="display: flex"
      [ngClass]="{ 'active-way-point': modeInput === 'end' }"
      (click)="changeMode('end')">
      <mat-icon matPrefix>location_on</mat-icon>
      <p *ngIf="!wayPoints.end">Select ending location</p>
      <p *ngIf="wayPoints.end">
        Longitude: {{ +wayPoints.end.lng.toFixed(4) }}
      </p>
      <p *ngIf="wayPoints.end" style="margin-left: 10px">
        Latitude: {{ +wayPoints.end.lat.toFixed(4) }}
      </p>
    </mat-card>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-icon matPrefix>category</mat-icon>
      <mat-select required formControlName="category">
        <mat-option [value]="category.id" *ngFor="let category of categories">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Severity</mat-label>
      <mat-icon matPrefix>warning</mat-icon>
      <mat-select required formControlName="severity">
        <mat-option [value]="severity.id" *ngFor="let severity of severities">
          {{ severity.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <mat-icon matPrefix>date_range</mat-icon>
      <input matInput placeholder="Enter duration in days" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix>comment</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput matInput required />
    </mat-form-field>

    <section class="button">
      <button mat-raised-button color="primary">Add event</button>
    </section>
  </form>
</mat-nav-list>
