mat-nav-list > form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}

section.button {
    display: flex;
    justify-content: center;
}

section.button > button {
    width: 120px;
}

.active-way-point {
  border: solid 2px #ff7846;
  box-shadow: 0 0 5px #ff774696;
}

.mat-card{
    margin-bottom: 20px;
}