.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.password-recovery {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.width {
  width: 80%;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 10px;
  align-items: center;
}
