<div class="body">
  <div class="password-recovery-step2">
    <div class="password-recovery-ste2-header">
      <mat-spinner *ngIf="loading" class="spinner" diamater="50"></mat-spinner>
      <img
        src="../../../../../assets/images/Watchout_logo.svg"
        alt="logo"
        width="40%"
        height="80%" />
      <h1>Watchout</h1>
      <h2>Please set your new password</h2>
    </div>
    <form
      class="reset-password-form"
      *ngIf="!loading"
      [formGroup]="form"
      (ngSubmit)="resetPassword()">
      <mat-form-field appearance="fill" class="width">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide_pwd ? 'newPassword' : 'text'"
          formControlName="newPassword" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide_pwd = !hide_pwd"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide_pwd">
          <mat-icon>{{ hide_pwd ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="newPassword?.errors?.['required']"
          >This field is mandatory</mat-error
        >
        <mat-error *ngIf="newPassword?.errors?.['pattern']"
          >Minimum eight characters, at least one letter lower case, one letter
          upper case, one number and one special character</mat-error
        >
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="width"
        [ngClass]="{'nonOverlapping': newPassword?.errors?.['pattern']}">
        <mat-label>Confirm your password</mat-label>
        <input
          matInput
          [type]="hide_confirm_pwd ? 'password' : 'text'"
          formControlName="confirmPassword" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide_confirm_pwd = !hide_confirm_pwd"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide_confirm_pwd">
          <mat-icon>{{
            hide_confirm_pwd ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword?.errors?.['required']"
          >This field is mandatory</mat-error
        >
        <mat-error *ngIf="confirmPassword?.errors?.['minLength']"
          >Not a valid password</mat-error
        >
        <mat-error *ngIf="confirmPassword?.errors?.['MustMatch']"
          >Confirm password didn't match</mat-error
        >
      </mat-form-field>
      <button
        type="submit"
        class="width"
        mat-raised-button
        mat-button
        color="primary"
        [disabled]="form.invalid">
        Reset password
      </button>
    </form>
    <span>Go Back to <a [routerLink]="['/sign-in']">Sign in</a></span>
  </div>
</div>
